@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	color: #44464a;
	font-family: Montserrat, Arial, sans-serif;
}

@layer utilities {
	@responsive {
		.leading-14 {
			line-height: 3.5rem;
		}
	}
}

.-left-6 {
	left: -1.5rem;
}

.-right-6 {
	right: -1.5rem;
}

.h-26 {
	height: 6.5rem;
}

.h-72 {
	height: 18rem;
}

.h-76 {
	height: 19rem;
}

.rounded-xl {
	border-radius: 1rem;
}

.scroll-smooth {
	scroll-behavior: smooth;
}

.w-26 {
	width: 6.5rem;
}

.w-96 {
	width: 24rem;
}

.w-128 {
	width: 32rem;
}
