@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	color: #44464a;
	font-family: Montserrat, Arial, sans-serif;
}

.h-26 {
	height: 6.5rem;
}

.leading-14 {
	line-height: 3.5rem;
}

.rounded-xl {
	border-radius: 1rem;
}

.w-26 {
	width: 6.5rem;
}

.w-96 {
	width: 24rem;
}

.w-128 {
	width: 32rem;
}
