@import './typography.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	color: #44464a;
	font-family: Montserrat, Arial, sans-serif;
}

@layer utilities {
	@responsive {
		.h-52 {
			height: 13rem;
		}

		.h-74 {
			height: 18.5rem;
		}

		.h-78 {
			height: 19.5rem;
		}

		.mb-9 {
			margin-bottom: 2.25rem;
		}
	}
}

.-left-6 {
	left: -1.5rem;
}

.-right-6 {
	right: -1.5rem;
}

.line-clamp-2 {
	display: -webkit-box;
	line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.h-26 {
	height: 6.5rem;
}

.h-36 {
	height: 9rem;
}

.h-42 {
	height: 10.5rem;
}

.h-66 {
	height: 16.5rem;
}

.h-68 {
	height: 17rem;
}

.rounded-xl {
	border-radius: 1rem;
}

.scroll-smooth {
	scroll-behavior: smooth;
}

.w-26 {
	width: 6.5rem;
}

.w-96 {
	width: 24rem;
}

.w-128 {
	width: 32rem;
}
