.type-700 {
	letter-spacing: -3%;
	line-height: 3.38rem; /* 54px */
	@apply font-extrabold text-5xl; /* 48px */
}

.type-600 {
	letter-spacing: -3%;
	line-height: 2.63rem; /* 42px */
	@apply font-extrabold text-4xl; /* 36px */
}

.type-500 {
	font-size: 1.13rem; /* 18px */
	letter-spacing: -1%;
	@apply font-extrabold;
}

.type-400 {
	font-size: 1.13; /* 18px */
	letter-spacing: -1%;
	line-height: auto;
	@apply font-extrabold;
}

.type-300 {
	letter-spacing: 6%;
	line-height: auto;
	@apply font-extrabold text-xs; /* 12px */
}

.type-200 {
	font-size: 0.88rem; /* 14px */
	letter-spacing: auto;
	line-height: auto;
	@apply font-medium;
}

.type-100 {
	letter-spacing: auto;
	@apply font-medium leading-5 text-xs; /* 20px, 12px */
}
