@responsive {
	.type-700 {
		letter-spacing: -0.03rem;
		line-height: 3.38rem; /* 54px */
		@apply font-extrabold text-5xl; /* 48px */
	}

	.type-600 {
		letter-spacing: -0.03rem;
		line-height: 2.63rem; /* 42px */
		@apply font-extrabold text-4xl; /* 36px */
	}

	.type-500 {
		letter-spacing: -0.01rem;
		@apply font-extrabold leading-7 text-2xl; /* 28px, 24px */
	}

	.type-400 {
		font-size: 1.13rem; /* 18px */
		letter-spacing: -0.01rem;
		line-height: normal;
		@apply font-extrabold;
	}

	.type-300 {
		letter-spacing: 0.06rem;
		line-height: normal;
		@apply font-extrabold text-xs; /* 12px */
	}

	.type-200 {
		font-size: 0.88rem; /* 14px */
		letter-spacing: normal;
		line-height: normal;
		@apply font-medium;
	}

	.type-100 {
		letter-spacing: normal;
		@apply font-medium leading-5 text-xs; /* 20px, 12px */
	}
}
